<%- include('../../partials/header.ejs') %> 

<div class="container my-container">
    <div class="row">
        <div class="card card-body">
            <h5 class="mb-3">Donor List</h5>
            <div class="div">
                <a href="/dashboard/addDonor" class="btn btn-primary m-3">Add Donor</a>
            </div>
            <table class="table mt-3">
                <thead>
                  <tr>
                    <th style="width: 5%;" scope="col"></th>
                    <th style="width: 15%;" scope="col">Name</th>
                    <th style="width: 25%;" scope="col">Phone</th>
                    <th style="width: 5%;" scope="col">Blood Group</th>
                    <th style="width: 40%;" scope="col">Location</th>
                    <th style="width: 10%;" scope="col">Action</th>
                  </tr>
                </thead>
                <tbody> 
                    <% if(donors.length==0){ %>
                    <% }else{ %>
                        <% for(let i=0;i<donors.length;i++){ %>
                            <tr>
                                <th scope="row"><%= i+1 %> </th>
                                <td><%= donors[i].name %> </td>
                                <td><%= donors[i].phone %> </td>
                                <td><%= donors[i].blood_group %> </td>
                                <td><%= donors[i].location %> </td>
                                <td>
                                    
                                    <a href="/dashboard/delete-donor/<%= donors[i].id %>"class="btn btn-danger btn-sm">Delete</a>
                                </td>
                              </tr>
                        <% } %>  
                    <% } %>   
                </tbody>
              </table>

        </div>
    </div>
</div>

<%- include('../../partials/footer.ejs') %> 

</body>
</html>