<%- include('../../partials/header.ejs') %> 

<div class="container my-container">
    <div class="row">
        <div class="card card-body">
            <h5 class="mb-3">Request List</h5>
            <table class="table mt-3">
                <thead>
                  <tr>
                    <th style="width: 5%;" scope="col"></th>
                    <th style="width: 20%;" scope="col">Date</th>
                    <th style="width: 5%;" scope="col">Blood Group</th>
                    <th style="width: 40%;" scope="col">Location</th>
                    <th style="width: 20%;" scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                    <% if(requests.length==0){ %>
                    <% }else{ %>
                        <% for(let i=0;i<requests.length;i++){ %>
                            <tr>
                                <th scope="row"><%= i+1 %> </th>
                                <td><%= requests[i].reDate %> </td>
                                <td><%= requests[i].reBlood %> </td>
                                <td><%= requests[i].reLocation %> </td>
                                <td>
                                    
                                    <a href="/dashboard/delete-request/<%= requests[i].id %>"class="btn btn-danger btn-sm">Delete</a>
                                </td>
                              </tr>
                        <% } %>  
                    <% } %>   
                </tbody>
              </table>

        </div>
    </div>
</div>

<%- include('../../partials/footer.ejs') %> 